<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <title>Django Фото в PDF</title>
    <link rel="stylesheet" href="{% static "css/index.css" %}" />
    <link rel="shortcut icon" href="{% static "icons/favicon.ico" %}" />
    <meta charset="UTF-8">
</head>
<body>
    <header class="header">
        <nav>
            <center><a href="/"><img id="icon" src="static/icons/site_icon.png" alt="PhotoToPDF" height="150"></a></center>
            <hr>
        </nav>
    </header>
    <div class="main">
        <center><h2 id="text">Конвертируйте ваши изображения в формат PDF.</h2></center>
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" id="image-input" accept=".png, .jpg, .jpeg" multiple style="display: none;">
            <center><a href="" class="floating-button" id="select-images-button">Выбрать изображения</a></center>
        </form>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
            var selectImagesButton = document.getElementById('select-images-button');
            var imageInput = document.getElementById('image-input');

            selectImagesButton.addEventListener('click', function(event) {
              event.preventDefault();
              imageInput.click();
            });

            imageInput.addEventListener('change', function() {
              var files = imageInput.files;
              var formData = new FormData();

              for (var i = 0; i < files.length; i++) {
                formData.append('images[]', files[i]);
              }

              var xhr = new XMLHttpRequest();
              xhr.open('POST', '/upload/', true);
              xhr.onload = function() {
                if (xhr.status === 200) {
                  console.log('Изображения успешно загружены');
                  window.location.href = '/creating'; // перенаправление на другую страницу
                }
                else {
                  console.log('Ошибка при загрузке изображений');
                }
              };
              xhr.send(formData);
            });
          });
        </script>
    </div>
    <footer>
        <div class="copyright">© PhotoToPDF 2024 ® - Test Proejct</div>
        <div class="telegram">
            <a href="https://t.me/includetwitch"><img src="static/icons/tg_logo.svg" height="30" alt="Telegram"></a>
        </div>
    </footer>
</body>
</html>